<div class="container">
  <% @tweets.each do |tweet| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <b><%= link_to(tweet.user.name, "/users/#{tweet.user.id}") %></b>
        <small>
          <a href=<%= "/users/#{tweet.user.id}" %>>@<%= tweet.user.user_name %></a>
        </small>
        .
        <%= tweet.pretty_print_date %>
      <br>
      </div>
      <div class="panel-body">
        <%= h tweet.text %><br><br>
        <div class="row">
          <div class="col-md-2">
              <a href=<%= "/retweet/#{tweet.id}" %> ><span class="glyphicon glyphicon-retweet"> <%= tweet.retweets_count %> </span></a>
            </div>
            <div class="col-md-2">
             <a href= <%= "/favorite/#{tweet.id}" %>  > <span class="glyphicon glyphicon-star"> <%= tweet.favorites_count %> </span></a>
            </div>
          </div>
        </div>
      </div>
      <br>
  <% end %>
</div>
