<div class="container">
  <% @tweets.each do |tweet| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <b><%= link_to(tweet.user.name, "/users/#{tweet.user.id}") %></b>
        <small>
          @<%= tweet.user.user_name %>
        </small>
        .
        <%= tweet.pretty_print_date %>
      <br>
      </div>
      <div class="panel-body">
        <%= h tweet.text %><br>
        <div class="row">
          <div class="col-md-2">
            <%= tweet.retweets_count %> retweets
          </div>
          <div class="col-md-2">
            <%= tweet.favorites_count %> favorites
          </div>
        </div>
      </div>
    </div>
    <br>
  <% end %>
</div>
