<div class="container">
  <div class="row">
    <div class="col-md-2 text-center">
      <%= link_to(user.name, request.path_info) %>
      <br>
      @<%= user.user_name %>
    </div>

    <div class="col-md-1 text-center">
      Tweets
      <br>
      <span class="badge"><%= link_to("#{user.tweets_count}", "/users/#{user.id}") %></span>
    </div>

    <div class="col-md-1 text-center">
      Following
      <br>
      <%= link_to("#{user.followings_count}", "/users/#{user.id}/followings") %>
    </div>
    <div class="col-md-1 text-center">
      Followers
      <br>
      <%= link_to("#{user.followers_count}", "/users/#{user.id}/followers") %>
    </div>

    <div class="col-md-1 text-center">
      <% if login? and !current_user?(user) %>
        <% if Follow.follow?(current_user, user) %>
          <form action=<%= "/users/#{user.id}/followers/delete" %> method="post">
            <button id="follow_unfollow" type="submit" class="btn btn-primary">Following</button>
          </form>
        <% else %>
          <form action=<%= request.path_info + "/followers/new" %> method="post">
            <button type="submit" class="btn btn-primary">Follow</button>
          </form>
        <% end %>
      <% end %>
    </div>
  </div>

  <br>

  <div>
    <% if login? and current_user?(user )%>
      <%= erb :_tweets_new %>
    <% end %>
  </div>
</div>

<br>
