<% cache u do %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">

      <div class="caption">
      	<a href=<%= "/users/#{u.id}"%>><img class="img-responsive" align="left" id="followAvatar" src=<%= gravatar_url(u) %>>
      	<div class="row spacer">
  			<div class="span4"></div>
		</div>
        <h3> <%= link_to(u.name, "/users/#{u.id}") %></h3>
        <p> <%= u.user_name %> </p>
        <% if login? and !current_user?(u) %>
		    <% if Follow.follow?(current_user, u) %>
		      <form action=<%= "/users/#{u.id}/followers/delete" %> method="post">
		        <button id="follow_unfollow" type="submit" class="btn btn-primary">Following</button>
		      </form>
		      <% else %>
		      <form action=<%= "/users/#{u.id}/followers/new" %> method="post">
		        <button type="submit" class="btn btn-primary">Follow</button>
		      </form>
		    <% end %>
		  <% end %>
      </div>
    </div>
  </div>
<% end %>


